nop_,
comment_,
value_,
command_,
param_ {
	overflow: hidden;
	width: 0;
	animation-name: typing;
	-webkit-animation-name: typing;
	animation-duration: calc(var(--chars)*0.01s);
	-webkit-animation-duration: calc(var(--chars)*0.01s);
	animation-delay: calc(var(--prev)*0.01s);
	-webkit-animation-delay: calc(var(--prev)*0.01s);
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes typing {
	0% {
		width: 0px;
	}

	100% {
		width: calc(var(--chars) * 1ch);
	}
}