.background {
	content: "";
	position: fixed;
	--size: calc(max(50vh, 50vw) * -1);
	top: var(--size);
	right: var(--size);
	bottom: var(--size);
	left: var(--size);
	background-color: #f786f7;
	z-index: -1;
	animation: backg 40s linear infinite;
}

@keyframes backg {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

main {
	font-family: 'Courier New', Arial;
	max-width: 50em;
	margin: auto
}

content .window {
	border-radius: 0.4em;
	color: white;
	background-color: #252525;
	overflow: hidden;
	max-width: 50em;
	margin: auto;
}

content .window .editor {
	margin: 0.5em;
	overflow-x: auto;
}

content .window .header {
	background-color: #323232;
	padding: 0.2em 0em 0 0.4em;
}

content .window .header .dot {
	display: inline-block;
	border-radius: 50%;
	width: 0.7em;
	aspect-ratio: 1;
}

content .window .header .red.dot {
	background-color: #ec6b5f;
}

content .window .header .yellow.dot {
	background-color: #f5bf4f;
}

content .window .header .green.dot {
	background-color: #63c856;
}

footer {
	margin: 1.5em 0.5em;
	font-weight: 700;
	color: whitesmoke;
}

footer ul {
	list-style-type: none;
}